extends layout
block content
    script.
        var sessionId = '#{session.id}';

    div.container( ng-controller="SessionCtrl")
        div.row
            div.col-sm-12
                h4 Test session #{session.id}
        div.row
            div.col-md-8
                div.panel.panel-default
                    div.panel-heading TEST RESULTS
                    table.table.table-hover
                        thead
                            tr
                                th Test Name
                                th Path
                                th Duration
                                th Result
                        tbody
                            tr(ng-repeat="test in vm.session.tests" ng-cloak)
                                td {{test.name}}
                                td {{test.path}}
                                td {{test.timeCompleted ? vm.Math.round((test.timeCompleted - test.timeStarted)/1000) + ' sec' : 'N/A'}}
                                td(ng-class="{red: test.result === 'failed', green: test.result === 'passed'}") {{test.result || 'pending'}}
            div.col-md-4
                div.panel.panel-default
                    div.panel-heading SUMMARY
                    table.table.table-hover
                        tr
                            td Created
                            td #{session.timeCreated ? moment(session.timeCreated).format('LLL') : 'N/A'}
                        tr
                            td Started
                            td #{session.timeStarted ? moment(session.timeStarted).format('LLL') : 'N/A'}
                        tr
                            td Completed
                            td #{session.timeCompleted ? moment(session.timeCompleted).format('LLL') : 'N/A'}
block append body_footer
    script(src="/js/ng/SessionCtrl.js")