extends layout
block content
    script.
        var sessionId = '#{session.id}';

    div.container( ng-controller="SessionCtrl")
        div.row
            div.col-sm-12
                h4 Test session #{session.id}
        div.row
            div.col-md-8
                div.panel.panel-default
                    div.panel-heading TEST SESSION RESULTS
                    table.table.table-hover
                        thead
                            tr
                                th Path
                                th Name
                                th Duration
                                th Result
                        tbody
                            tr(ng-repeat="test in vm.session.tests" ng-cloak)
                                td {{test.path}}
                                td {{test.name}}
                                td
                                td
            div.col-md-4
                div.panel.panel-default
                    div.panel-heading SUMMARY
                    table.table.table-hover
                        tr
                            td Created
                            td #{session.timeCreated ? moment(session.timeCreated).format('LLL') : 'N/A'}
                        tr
                            td Started
                            td #{session.timeStarted ? moment(session.timeStarted).format('LLL') : 'N/A'}
                        tr
                            td Completed
                            td #{session.timeCompleted ? moment(session.timeCompleted).format('LLL') : 'N/A'}
block append body_footer
    script(src="/js/ng/SessionCtrl.js")