doctype html
html
    head
        block head
            title= title || 'OpenTest server'
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            meta(http-equiv="X-UA-Compatible", content="IE=Edge")
            link(rel='stylesheet', href=`${urlPrefix}/css/bootstrap.min.css`)
            link(rel='stylesheet', href=`${urlPrefix}/css/fontawesome-all.min.css`)
            link(rel='stylesheet', href=`${urlPrefix}/css/style.css`)
            link(rel='icon' href=`${urlPrefix}/favicon.ico?v=1`)
            link(rel='stylesheet', href=`${urlPrefix}/css/animate.min.css`)

            | <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
            | <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            | <!--[if lt IE 9]>
            |   <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            |   <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
            | <![endif]-->
            
            script(src=`${urlPrefix}/js/lib/jquery.min.js`)
            script(src=`${urlPrefix}/js/lib/angular.min.js`)
            script(src=`${urlPrefix}/js/lib/bootstrap.min.js`)
            script.
                urlPrefix='#{urlPrefix}';
                /* thenBy.js - Copyright 2013 Teun Duynstee, licensed under the Apache License, Version 2.0 */
                !function(n,t){"function"==typeof define&&define.amd?define([],t):"object"==typeof exports?module.exports=t():n.firstBy=t()}(this,function(){var n=function(){function n(n){return n}function t(n){return"string"==typeof n?n.toLowerCase():n}function e(e,r){if(r="number"==typeof r?{direction:r}:r||{},"function"!=typeof e){var i=e;e=function(n){return n[i]?n[i]:""}}if(1===e.length){var o=e,f=r.ignoreCase?t:n;e=function(n,t){return f(o(n))<f(o(t))?-1:f(o(n))>f(o(t))?1:0}}return r.direction===-1?function(n,t){return-e(n,t)}:e}function r(n,t){var i="function"==typeof this&&this,o=e(n,t),f=i?function(n,t){return i(n,t)||o(n,t)}:o;return f.thenBy=r,f}return r}();return n});
    body(ng-app="ngApp" ng-controller="LayoutCtrl" style="padding-top: 50px;")
        //- Pug script
        - if (typeof readOnlyView != 'boolean') { readOnlyView = false };

        nav.navbar.navbar-default.navbar-fixed-top.header
            div.container
                div.navbar-header
                    button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#main-menu" aria-expanded="false")
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href=`${urlPrefix || '/'}` style="font-weight: bold;")
                        img(src=`${urlPrefix}/img/opentest.svg` style="display: inline-block; height: 20px; margin-right: 10px; margin-bottom: 3px")
                        | OpenTest

                div.collapse.navbar-collapse(id="main-menu")
                    ul.nav.navbar-nav
                        li
                            a(href=`${urlPrefix || '/'}`) Home
                        li.dropdown(style=(readOnlyView ? 'display: none' : ''))
                            a.dropdown-toggle(href="#" data-toggle="dropdown")
                                | Session 
                                span.caret
                            ul.dropdown-menu
                                li
                                    a(href="#" data-toggle="modal" data-target="#create-session") Create Test Session...
                                li
                                    a(href="#" data-toggle="modal" data-target="#create-from-template") Create Session From Template...
                        li
                            a(href="https://getopentest.org" target="_blank") Docs
                            
                    //- Variables "version", "buildDate" and "commitSha" are
                    //- injected into the view's context by Express.
                    - var commitSuffixMatch = (commitSha && commitSha.match(/-.*/)) || null;
                    - var commitSuffix = (commitSuffixMatch && commitSuffixMatch[0]) || '';
                    - var buildDateFormatted = moment(buildDate, 'YYYY-MM-DD HH:mm:ss ZZ').format('MMM D, H:mm');
                    - var shortCommit = commitSha.substring(0, 12) + commitSuffix;
                    span.pull-right.hidden-xs.text-muted(style="line-height:18px; margin-top: 8px")
                        | Build: #{version} #{buildDateFormatted}<br>
                        | Commit: #{shortCommit}
        p
        block content

        //- SELECT TEMPLATE MODAL DIALOG
        //- ============================
        div.modal.create-session(id="create-from-template")
            div.modal-dialog.modal-lg
                div.modal-content
                    div.modal-header
                        button.close(data-dismiss="modal") &times;
                        p.modal-title Create Test Session from Template
                    div.modal-body
                        button.btn.btn-secondary(ng-click="vm.createSessionFromTemplate(vm.selectedTemplate)" ng-disabled="!vm.selectedTemplate") Create Session
                        div.hspace-double
                        button.btn.btn-secondary.btn-link(ng-click="vm.editTemplate()" ng-disabled="!vm.selectedTemplate") Edit Template
                        div.vspace-double
                        //- Info box for when there's no templates to show
                        div.info-box(style="margin: 20px" ng-show='!vm.isLoadingTemplateInfo && !vm.templates.length' ng-cloak)
                            i.icon.fa.fa-info-circle
                            span No templates were found. Test session templates are YAML files located in the "templates" subdirectory of your test repo. They allow you to predefine a set of tests to run, along with other options on how you want to create your test session (session label, environment, test actor tags, etc.). For more information, please see the documentation.
                        //- Progress indicator
                        div.progress-indicator(ng-show='vm.isLoadingTemplateInfo')
                            div.img
                        table.table.table-condensed.table-hover(ng-cloak ng-hide="!vm.templates.length" style="table-layout: fixed; word-wrap: break-word; margin-bottom: 0px")
                            thead
                                tr
                                    th(style="width: 35px;")
                                    th Template name
                                    th Template path
                                    th Description
                            tbody
                                tr(ng-repeat="template in vm.templates")
                                    td
                                        input(type="radio" name="template" id="{{'template'+$index}}" class="template" ng-model="vm.selectedTemplate" ng-value="template")
                                    td
                                        label(for="{{'template'+$index}}") {{template.name}}
                                    td
                                        label {{template.path}}
                                    td
                                        label {{template.description}}
                    //- div.modal-footer

        //- CREATE SESSION MODAL DIALOG
        //- ===========================
        div.modal.create-session(id="create-session" style="overflow-y: scroll")
            div.modal-dialog.modal-lg
                div.modal-content
                    div.modal-header
                        a.dialog-close.pull-right(data-dismiss="modal") <i class="fa fa-times" aria-hidden="true"></i>
                        p.modal-title Create Test Session
                    div.modal-body
                        div
                            div.row
                                div.col-md-12
                                    button.btn.btn-secondary(data-dismiss="modal" ng-click="vm.createTestSession()") Create Session
                            div.vspace-double
                            div.row
                                div.col-md-6
                                    
                                    div.form-group
                                        input.form-control(type="text" ng-model="vm.sessionLabel" placeholder="Session label" title="Session label")
                                div.col-md-6
                                    select#session-iterations.form-control(ng-model="vm.iterations")
                                        option(value="1") 1 iteration
                                        option(value="2") 2 iterations
                                        option(value="3") 3 iterations
                            div.row
                                div.col-md-6
                                    select#environment.form-control(ng-model="vm.selectedEnvironment" ng-disabled="!vm.environments" title="Environment")
                                        option(value="") No environment selected
                                        option(ng-repeat="environment in vm.environments" value="{{environment}}") {{ environment }}
                                div.col-md-6
                                    input.form-control(type="text" ng-model="vm.actorTags" placeholder="Actor tags" title="Actor tags")
                            div.vspace-double
                            div.row(style="padding-top: 15px; padding-bottom: 10px")
                                div.col-md-6
                                    div
                                        i.fas.fa-search(style="font-size: 16px; margin-left: 3px; margin-top: 10px; position: absolute; z-index: 999")
                                        input.form-control.search-test(type="text" ng-model="vm.searchText" placeholder="Search" title="Search")
                                        a(type="button" href="#" ng-click="vm.searchText = ''" ng-show="vm.searchText" style="position: absolute;top: 0px; right: 0px; opacity: 0.7; font-size: 1.5em; width: 15px") ×
                                div.col-md-3(style="font-size: 16px")
                                    //- input(id="only-selected" type="checkbox")
                                    //- label(for="only-selected") Show only selected
                                div.col-md-3
                                    span(style="font-size: 16px").pull-right {{ vm.selectedTestsCount }} tests selected
                            div.vspace-double
                            div.vspace-double
                            //- Info box for when there's no tests to show
                            div.info-box(style="margin: 20px" ng-show='!vm.isLoadingTestInfo && !vm.tests.length' ng-cloak)
                                i.icon.fa.fa-info-circle
                                span No test definitions were found. Test definitions are YAML files located in the "tests" subdirectory of your test repo. They define a sequence of test actions to execute as part of a test, but there's a whole lot more to it than that, so please see the documents and prepare to be amazed.
                            //- Progress indicator
                            div.progress-indicator(ng-show='vm.isLoadingTestInfo')
                                div.img
                            table.table.table-condensed.table-hover(ng-cloak ng-hide="!vm.tests.length" style="table-layout: fixed; word-wrap: break-word;")
                                //thead
                                    th(style="width: 40px;")
                                    th(style="width: 40%;") Test Name
                                    th(style="width: 45%;") Path
                                    th(style="width: auto;") Actors
                                tbody
                                    tr(ng-repeat="test in vm.filteredTests = (vm.tests | filter: { name: vm.searchText })")
                                        td(style="width: 40px;")
                                            input(type="checkbox" id="{{test.hash}}" class="test" ng-model="test.selected" ng-click="vm.testClick($event, test)")
                                        td(style="width: 40%;")
                                            label(for="{{test.hash}}") {{test.name}}
                                        td(style="width: 45%;")
                                            label {{test.path}}
                                        td(style="width: auto;")
                                            label {{test.actors.sort().join(', ')}}
                            p

        div#img-preloader
            img(src=`${urlPrefix}/img/loader-circle.png` width="1" height="1")

        script(src=`${urlPrefix}/js/lib/js.cookie.js`)
        script(src=`${urlPrefix}/js/lib/moment.min.js`)
        script(src=`${urlPrefix}/js/lib/moment-timezone.min.js`)
        script(src=`${urlPrefix}/js/lib/bootstrap-notify.min.js`)
        script(src=`${urlPrefix}/js/ng/ng-app.js`)
        script(src=`${urlPrefix}/js/ng/root-ctrl.js`)
        script(src=`${urlPrefix}/socket.io/socket.io.js`)
        
        script.
            // Highlight the UI tab that corresponds to the current location 
            $('a[href="' + this.location.pathname + '"]').parents('li,ul').addClass('active');

        block body_footer