extends layout
block append head
    link(rel='stylesheet', href=`${urlPrefix}/css/session.css`)
    link(rel='stylesheet', href=`${urlPrefix}/css/ekko-lightbox.css`)
block content
    script.
        var sessionId = '#{session.id}';
        var debounce = function(func,wait,immediate){var timeout;return function(){var context=this,args=arguments;var later=function(){timeout=null;if(!immediate)func.apply(context,args);};var callNow=immediate&&!timeout;clearTimeout(timeout);timeout=setTimeout(later,wait);if(callNow)func.apply(context,args);};};
    
    //- Pug script
    - if (typeof readOnlyView != 'boolean') { readOnlyView = false };

    div.container(ng-controller="SessionCtrl" ng-cloak)
        div.row
            div.col-md-8
                h4(style="line-height: 1.3em") {{vm.session.label}}
                p
                    | Test session status:&nbsp;&nbsp;
                    span.badge {{vm.session.status}}
                    | &#32;
                    span.badge.label-success(ng-show="vm.session.result === 'passed'") passed
                    span.badge.label-danger(ng-show="vm.session.result === 'failed'") failed
        div.row
            div.col-md-12
                div.row
                    div.col-md-6
                        ul.nav.nav-tabs(data-tabs="tabs")
                            li.active
                                a(href="#results" data-toggle="tab") Test results
                            li
                                a(href="#log" data-toggle="tab" style=(readOnlyView ? 'display: none' : '')) Log
                            li
                                a(href="#options" data-toggle="tab") Options
                    div.col-md-6
                        button.btn.btn-small.btn-default.pull-right(data-toggle="modal" data-target="#session-info-settings") Settings
                        div.dropdown.btn-space.pull-right(ng-show="vm.getActiveTab() === 'log'")
                            button.btn.btn-small.btn-default.dropdown-toggle(data-toggle="dropdown")
                                | Go to test &nbsp;<span class="caret"></span>
                            ul.dropdown-menu.dropdown-menu-right
                                li
                                    a(ng-repeat="test in vm.session.tests | filter: { status: 'completed' }" ng-click="vm.goToTest(test, $event)" href="#") {{test.name}}
                          
                p
                div.tab-content
                    //- TEST RESULTS TAB
                    div.tab-pane.active(id="results")
                            div.row(ng-cloak)
                                div.col-md-8
                                    table.table(style="table-layout: fixed;")
                                        thead
                                            tr
                                                th(style="width: 22px") Test
                                                th
                                                th(style="width: 40px") Iter.
                                                th(style="width: 65px") Duration
                                                th(style="width: 55px") Result
                                        tbody(style="word-wrap: break-word; text-wrap: normal")
                                            //- Test main row
                                            tr(ng-repeat-start="test in vm.session.tests")
                                                td
                                                    i.fa.fa-caret-right.expand-btn(aria-hidden="true" ng-click="vm.toggleTestDetails($event, test)" ng-hide="test.expanded")
                                                    i.fa.fa-caret-down.expand-btn(aria-hidden="true" ng-click="vm.toggleTestDetails($event, test)" ng-hide="!test.expanded")
                                                td
                                                    a.test-name(href="#" ng-click="vm.goToTest(test, $event)" style="word-wrap: break-word; overflow-wrap: break-word;").
                                                        {{test.name}}
                                                    |&#32
                                                    span.faded {{test.path}}
                                                td {{test.currentIteration ? test.currentIteration : 'N/A'}}
                                                td.
                                                    {{test.timeCompleted ? vm.Math.round((test.timeCompleted - test.timeStarted)/1000) + ' sec' : 'N/A'}}
                                                td  
                                                    span.label.label-default(ng-show="test.result === 'cancelled'") cancelled
                                                    span.label.label-default(ng-show="!test.result || test.result === 'pending'") pending
                                                    span.label.label-success(ng-show="test.result === 'passed'") passed
                                                    span.label.label-danger(ng-show="test.result === 'failed'") failed
                                            //- Test details row
                                            tr.actions(ng-repeat-end ng-hide="!test.expanded")
                                                td
                                                td.actions(colspan="4")
                                                    p(ng-hide="test.actions.length") No test action details are available
                                                    table.table.actions(ng-show="test.actions.length")
                                                        thead
                                                            tr
                                                                th Actor
                                                                th Action Description
                                                                th Duration
                                                                th(title="Segment") Seg.
                                                                th Result
                                                                th(style="width: 25px" title="Screenshots") <i class="fa fa-eye"></i>
                                                        tbody
                                                            tr.top(ng-repeat-start="action in test.actions")
                                                                td {{ action.actorType }}
                                                                td {{ macroPrefix = (action.action.indexOf("MacroAction") > 0 ? "Macro: " : ""); macroPrefix + action.description }}
                                                                td {{ action.durationMs >= 1000 ? Math.round(action.durationMs/1000) + ' sec' : action.durationMs + ' ms'}}
                                                                td {{ action.step || action.segment }}
                                                                td(class="{{ action.result }}") {{ action.result }}
                                                                td(style="width: 25px; text-align: center")
                                                                    span(ng-if="!action.screenshot && !action.screenshotBefore && !action.screenshotAfter" title="No screenshot available") -
                                                                    | <a ng-if="action.screenshotBefore" href="/api/screenshot/{{ action.screenshotBefore }}" data-title="{{ action.description }}" data-toggle="lightbox" target="_blank"><i style="color: #2196f3" class="fa fa-image"></i></a>
                                                                    | <a ng-if="action.screenshotAfter" href="/api/screenshot/{{ action.screenshotAfter }}" data-title="{{ action.description }}" data-toggle="lightbox" target="_blank"><i style="color: #2196f3" class="fa fa-image"></i></a>
                                                                    | <a ng-if="action.screenshot" href="/api/screenshot/{{ action.screenshot }}" data-title="{{ action.description }}" data-toggle="lightbox" target="_blank"><i style="color: #2196f3" class="fa fa-image"></i></a>
                                                            tr.bottom(ng-repeat-end style="display: none;")
                                                                td
                                                                td(colspan="4") Action: {{ action.action }} Args: {{ action.args }} Macro: {{ action.macro || 'N/A' }}
                                    div.progress-indicator(ng-show='vm.isLoadingSessionInfo')
                                        div.img
                                div.col-md-4
                                    div.panel.panel-default(ng-cloak ng-hide='vm.isLoadingSessionInfo')
                                        div.panel-heading SESSION DETAILS
                                        table.table.table-hover(style="line-height: 1.1em; table-layout: fixed")
                                            tr
                                                td(style="width: 90px") Session ID
                                                td {{vm.session.id}}
                                            tr
                                                td Label
                                                td(style="word-wrap: break-word") {{vm.session.label}}
                                            tr
                                                td Created
                                                td {{vm.session.timeCreated ? vm.moment(vm.session.timeCreated).format('LLL') : 'N/A'}}
                                            tr
                                                td Started
                                                td {{vm.session.timeStarted ? vm.moment(vm.session.timeStarted).format('LLL') : 'N/A'}}
                                            tr
                                                td Completed
                                                td {{vm.session.timeCompleted ? vm.moment(vm.session.timeCompleted).format('LLL') : 'N/A'}}
                                            tr
                                                td Environment
                                                td {{vm.session.environment ? vm.session.environment : 'none'}}
                                            tr
                                                td Actor tags
                                                td {{vm.session.actorTags.length ? vm.session.actorTags.join(', ') : 'none'}}
                                            tr
                                                td Iterations
                                                td {{vm.session.currentIteration}} / {{vm.session.maxIterations}}
                                            tr
                                                td Status
                                                td {{vm.session.status}}
                                            tr
                                                td Result
                                                td {{vm.session.result}}
                    
                    //- LOG TAB
                    div.tab-pane(id="log")
                        //- Info box that's displayed when the log file is huge and we can't show it in full in the UI
                        div.info-box(ng-show="vm.showingPartialLog" style="margin: 20px" ng-cloak)
                            i.icon.fa.fa-exclamation-triangle
                            span
                                | The log file was too big, so we're only showing partial data. You can download the full log using the links below:<br>
                                |<a href="/api/session/{{vm.session.id}}/log?format=download">Plain Text</a>
                                | |
                                | <a href="/api/session/{{vm.session.id}}/log?format=download-json">JSON</a>

                        table.table.table-condensed.log(style="table-layout: fixed")
                                thead
                                    tr
                                        th(style="width: 100px") Timestamp
                                        th(style="width: 80px") Actor
                                        th Message
                                tbody
                                    tr(ng-repeat="logEntry in vm.logEntries track by $index")
                                        td {{ vm.moment(logEntry.time).format('HH:mm:ss') }}
                                        td {{ logEntry.actorType }}
                                        //- - if (logEntry.msg.indexOf('ERROR:') === 0)
                                        //- ERROR
                                        td(ng-if="logEntry.level >= 50" style="word-wrap:break-word;")
                                            pre(style="white-space: pre-wrap;") {{ logEntry.msg }}
                                        
                                        //- INFO & co.
                                        td(ng-if="logEntry.level > 10 && logEntry.level < 50" style="word-wrap:break-word;")
                                            div.message {{ logEntry.msg }}

                                        //- TRACE
                                        td.trace(ng-if="logEntry.level <= 10" style="word-wrap:break-word;")
                                            div.message {{ logEntry.msg }}
                        //- Info box that's displayed when the log file is huge and we can't show it in full in the UI
                        div.info-box(ng-show="vm.showingPartialLog" style="margin: 20px" ng-cloak)
                            i.icon.fa.fa-exclamation-triangle
                            span
                                | The log file was too big, so we're only showing partial data. You can download the full log using the links below:<br>
                                |<a href="/api/session/{{vm.session.id}}/log?format=download">Plain Text</a>
                                | |
                                | <a href="/api/session/{{vm.session.id}}/log?format=download-json">JSON</a>

                        script.
                            // Add button for scrolling to the top of the page
                            var backToTopButton = $('<a href="#" class="back-to-top" title="Go to top"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>');
                            $('#log').prepend(backToTopButton.hide());
                            
                            var amountScrolled = 500;
                            var scrollHandlerDebounced = debounce(function() {
                                if ( $(window).scrollTop() > amountScrolled ) {
                                    $('a.back-to-top').fadeIn();
                                } else {
                                    $('a.back-to-top').fadeOut();
                                }
                            }, 200);

                            $(window).scroll(scrollHandlerDebounced);
                    
                    //- OPTIONS TAB
                    div.tab-pane(id="options")
                        button.btn.btn-small.btn-default.btn-space(ng-click="$parent.vm.editSession(vm.session)") Duplicate Session
                        button.btn.btn-small.btn-default.btn-space(ng-click="vm.cancelSession(vm.session.id)" ng-disabled="vm.session.status === 'completed'") Cancel Session
                        div.btn-group
                            button.btn.btn-default.dropdown-toggle.btn-space(data-toggle="dropdown")
                                |Save results &nbsp;<span class="caret"></span>
                            ul.dropdown-menu
                                li
                                    a(ng-click="vm.saveTestResultsAsCsv()" href="#") Save test results as CSV
    
        //- Create session information settings modal dialog
        div.modal.fade(id="session-info-settings")
            div.modal-dialog.modal-lg
                div.modal-content
                    div.modal-header
                        button.close(data-dismiss="modal") &times;
                        p.modal-title Session Information Settings
                    div.modal-body
                        div.container
                            form.form-horizontal
                                div.form-group
                                    label.control-label.col-xs-1 Log Level
                                    div
                                        label.checkbox-inline
                                            input(type="radio" name="logLevel" ng-change="vm.sessionSettingsChanged()" ng-value="'info'" ng-model="vm.sessionSettings.logLevel")
                                            | Informational
                                        label.checkbox-inline
                                            input(type="radio" name="logLevel" ng-change="vm.sessionSettingsChanged()" ng-value="'debug'" ng-model="vm.sessionSettings.logLevel")
                                            | Debug 
                                        label.checkbox-inline
                                            input(type="radio" name="logLevel" ng-change="vm.sessionSettingsChanged()" ng-value="'trace'" ng-model="vm.sessionSettings.logLevel")
                                            | Trace
                                div.form-group
                                    div.col-xs-offset-1
                                        button.btn.btn-default.btn-space(data-dismiss="modal") Close
                                        button.btn.btn-default.btn-space(ng-click="vm.loadSessionSettingsDefaults()") Load Defaults
    script.
        // Javascript to enable link to tab
        var url = document.location.toString();
        if (url.match('#')) {
            $('.nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');
        } 

        // Change hash in address bar on page-reload or tab select
        $('.nav-tabs a').on('shown.bs.tab', function (e) {
            if (history.pushState) {
                history.pushState(null, null, e.target.hash);
            } else {
                window.location.hash = e.target.hash;
            }
        });
                
block append body_footer
    script(src=`${urlPrefix}/js/ng/session-ctrl.js`)
    script(src=`${urlPrefix}/js/lib/ekko-lightbox.min.js`)
    script.
        $(document).on('click', '[data-toggle="lightbox"]', function(event) {
            event.preventDefault();
            $(this).ekkoLightbox({
                alwaysShowClose: true
            });
        });