doctype html
html
    head
        block head
            title= title || 'DTest'
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            meta(http-equiv="X-UA-Compatible", content="IE=Edge")
            link(rel='stylesheet', href='/css/bootstrap.min.css')
            //link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
            link(rel='stylesheet', href='/css/style.css')
            link(rel="icon" href="/favicon.ico?v=1")
            
            | <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
            | <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            | <!--[if lt IE 9]>
            |   <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            |   <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
            | <![endif]-->
            
            script(src="/js/lib/jquery.min.js")
            script(src="/js/lib/angular.min.js")
            script(src="/js/lib/bootstrap.min.js")
            script.
                /* thenBy.js - Copyright 2013 Teun Duynstee, licensed under the Apache License, Version 2.0 */
                !function(n,t){"function"==typeof define&&define.amd?define([],t):"object"==typeof exports?module.exports=t():n.firstBy=t()}(this,function(){var n=function(){function n(n){return n}function t(n){return"string"==typeof n?n.toLowerCase():n}function e(e,r){if(r="number"==typeof r?{direction:r}:r||{},"function"!=typeof e){var i=e;e=function(n){return n[i]?n[i]:""}}if(1===e.length){var o=e,f=r.ignoreCase?t:n;e=function(n,t){return f(o(n))<f(o(t))?-1:f(o(n))>f(o(t))?1:0}}return r.direction===-1?function(n,t){return-e(n,t)}:e}function r(n,t){var i="function"==typeof this&&this,o=e(n,t),f=i?function(n,t){return i(n,t)||o(n,t)}:o;return f.thenBy=r,f}return r}();return n});
    body(ng-app="ngApp" ng-controller="LayoutCtrl")
        nav.navbar.navbar-default.header
            div.container
                div.navbar-header
                    button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#main-menu" aria-expanded="false")
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href="/") DTest

                div.collapse.navbar-collapse(id="main-menu")
                    ul.nav.navbar-nav
                        li
                            a(href="/") Home
                        li.dropdown
                            a.dropdown-toggle(href="#" data-toggle="dropdown")
                                | Session 
                                span.caret
                            ul.dropdown-menu
                                li
                                    a(href="#" data-toggle="modal" data-target="#create-session") Create Test Session
                                li
                                    a(href="#" data-toggle="modal" data-target="#create-template") Create Test Session Template
        p
        block content
        
        //- Create session template modal dialog
        div.modal.fade.create-session(id="create-template")
            div.modal-dialog.modal-lg
                div.modal-content
                    div.modal-header
                        button.close(data-dismiss="modal") &times;
                        p.modal-title Create Test Session Template
                    div.modal-body
                        //- p Select tests
                    div.modal-footer
                        button.btn.btn-secondary() Create Template

        //- Create session modal dialog
        div.modal.fade.create-session(id="create-session")
            div.modal-dialog.modal-lg
                div.modal-content
                    div.modal-header
                        button.close(data-dismiss="modal") &times;
                        p.modal-title Create Test Session
                    div.modal-body
                        div
                            div.row
                                div.col-md-12
                                    button.btn.btn-secondary(data-dismiss="modal" ng-click="vm.runTestSession()") Create Session
                            div.vspace-double
                            div.row
                                div.col-md-6
                                    
                                    div.form-group
                                        //- label(style="word-wrap1: break-word;").control-label Session label
                                        input.form-control(type="text" ng-model="vm.sessionLabel" placeholder="Session label")
                                div.col-md-6
                                    select#session-iterations.form-control(ng-model="vm.iterations")
                                        option(value="1") 1 iteration
                                        option(value="2") 2 iterations
                                        option(value="3") 3 iterations
                            div.row
                                div.col-md-6
                                    div
                                        input.form-control.search(type="text" ng-model="vm.searchText" placeholder="Search")
                                        a(type="button" href="#" ng-click="vm.searchText = ''" ng-show="vm.searchText" style="position: absolute;top: 0px; right: 0px; opacity: 0.7; font-size: 1.5em; width: 15px") ×
                                div.col-md-6
                                    span(style="font-size: 16px; padding: 5px 0px;").pull-right {{ vm.selectedTestsCount }} tests selected
                            div.vspace-double
                            div.vspace-double
                            //- Progress indicator
                            div.progress-indicator(ng-show='vm.isLoadingTestInfo')
                                div.img
                            table.table.table-condensed.table-hover(ng-cloak ng-hide="!vm.tests.length" style="table-layout: fixed; word-wrap: break-word;")
                                //thead
                                    th(style="width: 40px;")
                                    th(style="width: 40%;") Test Name
                                    th(style="width: 45%;") Path
                                    th(style="width: auto;") Actors
                                tbody
                                    tr(ng-repeat="test in vm.filteredTests = (vm.tests | filter: { name: vm.searchText })")
                                        td(style="width: 40px;")
                                            input(type="checkbox" id="{{test.hash}}" class="test" ng-model="test.selected" ng-click="vm.testClick($event, test)")
                                        td(style="width: 40%;")
                                            label(for="{{test.hash}}") {{test.name}}
                                        td(style="width: 45%;")
                                            label {{test.path}}
                                        td(style="width: auto;")
                                            label {{test.actors.sort().join(', ')}}
                            p
                    //div.modal-footer

        //- Enter test session parameters modal dialog
        div.modal.fade.create-session(id="session-parameters")
            div.modal-dialog.modal-lg
                div.modal-content
                    div.modal-header
                        button.close(data-dismiss="modal") &times;
                        p.modal-title Test Session Parameters
                    div.modal-body
                        form.form-vertical
                            div(ng-repeat="param in vm.testParams")
                                div.form-group
                                    label(style="word-wrap1: break-word;").control-label {{param.name}}
                                    input.form-control(type="text" ng-model="param.value")
                            div
                                div.form-group
                                    
                    div.modal-footer
                        button.btn.btn-secondary(data-dismiss="modal" ng-click="vm.runTestSession1()") Done

        div#img-preloader
            img(src="/img/loader-circle.png" width="1" height="1")
        script(src="/js/lib/js.cookie.js")
        script(src="/js/lib/moment.min.js")
        script(src="/js/lib/moment-timezone.min.js")
        script(src="/js/ng/ngApp.js")
        script(src="/js/ng/LayoutCtrl.js")
        
        script.
            // Highlight the menu option that corresponds to the current location 
            $('a[href="' + this.location.pathname + '"]').parents('li,ul').addClass('active');

        block body_footer