extends layout
block content
    script.
        var sessionId = '#{session.id}';

        // The debounce function from Underscore.js
        var debounce = function(func, wait, immediate) {
            var timeout;
            return function() {
                var context = this, args = arguments;
                var later = function() {
                    timeout = null;
                    if (!immediate) func.apply(context, args);
                };
                var callNow = immediate && !timeout;
                clearTimeout(timeout);
                timeout = setTimeout(later, wait);
                if (callNow) func.apply(context, args);
            };
        };

    div.container(ng-controller="SessionCtrl" ng-cloak)
        div.row
            div.col-sm-12
                h4
                    | Test session {{vm.session.id}}&nbsp;&nbsp;
                    span.badge {{vm.session.status}}
        div.row
            div.col-md-12
                div.row
                    div.col-md-6
                        ul.nav.nav-tabs(data-tabs="tabs")
                            li.active
                                a(href="#results" data-toggle="tab") Test results
                            li
                                a(href="#log" data-toggle="tab") Log
                            li
                                a(href="#options" data-toggle="tab") Options
                    div.col-md-6
                        div.dropdown(style="text-align: right")
                            button.btn.btn-small.btn-default.dropdown-toggle(data-toggle="dropdown" ng-show="vm.getActiveTab() === 'log'")
                                | Go to test &nbsp;<span class="caret"></span>
                            ul.dropdown-menu.dropdown-menu-right
                                li
                                    a(ng-repeat="test in vm.session.tests" ng-click="vm.goToTest(test)" href="#") {{test.name}}
                          
                p
                div.tab-content
                    div.tab-pane.active(id="results")
                            div.row
                                div.col-md-8
                                    table.table.table-hover(style="table-layout: fixed")
                                            thead
                                                tr
                                                    th Test
                                                    th(style="width: 65px") Duration
                                                    th(style="width: 55px") Result
                                            tbody
                                                tr(ng-repeat="test in vm.session.tests" ng-cloak)
                                                    td
                                                        span.test-name(style="word-wrap: break-word; overflow-wrap: break-word;") {{test.name}}&#32
                                                        span.faded {{test.path}}
                                                    td {{test.timeCompleted ? vm.Math.round((test.timeCompleted - test.timeStarted)/1000) + ' sec' : 'N/A'}}
                                                    td(ng-class="{red: test.result === 'failed', green: test.result === 'passed'}") {{test.result || 'pending'}}
                                div.col-md-4
                                    div.panel.panel-default
                                        div.panel-heading SUMMARY
                                        table.table.table-hover
                                            tr
                                                td Created
                                                td {{vm.session.timeCreated ? vm.moment(vm.session.timeCreated).format('LLL') : 'N/A'}}
                                            tr
                                                td Started
                                                td {{vm.session.timeStarted ? vm.moment(vm.session.timeStarted).format('LLL') : 'N/A'}}
                                            tr
                                                td Completed
                                                td {{vm.session.timeCompleted ? vm.moment(vm.session.timeCompleted).format('LLL') : 'N/A'}}
                                            tr
                                                td Status
                                                td {{vm.session.status}}
                                            tr
                                                td Result
                                                td {{vm.session.result}}

                    div.tab-pane(id="log")
                        table.table.table-condensed
                                thead
                                    tr
                                        th Timestamp
                                        th Actor
                                        th Message
                                tbody
                                    each logEntry in logEntries
                                        tr
                                            td(style="border: none")= moment(logEntry.time).format('HH:mm:ss')
                                            td(style="border: none")= logEntry.actorType
                                            - if (logEntry.msg.indexOf('ERROR') === 0)
                                                td(style="border: none")
                                                    pre(style="white-space: pre-wrap;")= logEntry.msg
                                            - else
                                                td(style="border: none")= logEntry.msg
                        script.
                            // Add link for scrolling to the top of the page
                            $('#log').prepend('<a href="#" class="back-to-top" title="Go to top"><span class="caret-up"></span></a>');
                            
                            var amountScrolled = 500;
                            var scrollHandlerDebounced = debounce(function() {
                                if ( $(window).scrollTop() > amountScrolled ) {
                                    $('a.back-to-top').fadeIn();
                                } else {
                                    $('a.back-to-top').fadeOut();
                                }
                            }, 200);

                            $(window).scroll(scrollHandlerDebounced);
                        
                    div.tab-pane(id="options")
                        button.btn.btn-secondary(ng-click="vm.cancelSession(vm.session.id)") Cancel Session
    script.
        // Javascript to enable link to tab
        var url = document.location.toString();
        if (url.match('#')) {
            $('.nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');
        } 

        // Change hash in address bar on page-reload or tab select
        $('.nav-tabs a').on('shown.bs.tab', function (e) {
            if (history.pushState) {
                history.pushState(null, null, e.target.hash);
            } else {
                window.location.hash = e.target.hash;
            }
        });
                
block append body_footer
    script(src="/js/ng/SessionCtrl.js")