extends layout
block content
    script.
        var sessionId = '#{session.id}';

    div.container( ng-controller="SessionCtrl")
        div.row
            div.col-sm-12
                h4 Test session #{session.id} (#{session.result})
        div.row
            div.col-md-12
                ul.nav.nav-tabs(data-tabs="tabs")
                    li.active
                        a(href="#summary" data-toggle="tab") Summary
                    li
                        a(href="#log" data-toggle="tab") Log
                
                p
                div.tab-content
                    div.tab-pane.active(id="summary")
                            div.row
                                div.col-md-8
                                    table.table.table-hover
                                            thead
                                                tr
                                                    th Test Name
                                                    th Path
                                                    th Duration
                                                    th Result
                                            tbody
                                                tr(ng-repeat="test in vm.session.tests" ng-cloak)
                                                    td {{test.name}}
                                                        //a(href="{{'/session/' + vm.session.id + '/test/' + $index}}") {{test.name}}
                                                    td {{test.path}}
                                                    td {{test.timeCompleted ? vm.Math.round((test.timeCompleted - test.timeStarted)/1000) + ' sec' : 'N/A'}}
                                                    td(ng-class="{red: test.result === 'failed', green: test.result === 'passed'}") {{test.result || 'pending'}}
                                div.col-md-4
                                    div.panel.panel-default
                                        div.panel-heading SUMMARY
                                        table.table.table-hover
                                            tr
                                                td Created
                                                td #{session.timeCreated ? moment(session.timeCreated).format('LLL') : 'N/A'}
                                            tr
                                                td Started
                                                td #{session.timeStarted ? moment(session.timeStarted).format('LLL') : 'N/A'}
                                            tr
                                                td Completed
                                                td #{session.timeCompleted ? moment(session.timeCompleted).format('LLL') : 'N/A'}

                    div.tab-pane(id="log")
                        table.table.table-condensed
                                thead
                                    tr
                                        th Timestamp
                                        th Actor
                                        th Message
                                tbody
                                    each logEntry in logEntries
                                        tr
                                            td(style="border: none")= moment(logEntry.time).format('HH:mm:ss')
                                            td(style="border: none")= logEntry.actorType
                                            - if (logEntry.msg.indexOf('ERROR') === 0)
                                                td(style="border: none")
                                                    pre(style="white-space: pre-wrap;")= logEntry.msg
                                            - else
                                                td(style="border: none")= logEntry.msg
                        
    script.
        // Javascript to enable link to tab
        var url = document.location.toString();
        if (url.match('#')) {
            $('.nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');
        } 

        // Change hash in address bar on page-reload or tab select
        $('.nav-tabs a').on('shown.bs.tab', function (e) {
            if(history.pushState) {
                history.pushState(null, null, e.target.hash);
            } else {
                window.location.hash = e.target.hash;
            }
        })
                
block append body_footer
    script(src="/js/ng/SessionCtrl.js")